.post-img{
    height: 300px;
    overflow: hidden;
    margin-bottom: 20px;
    
}

.post-img img{
    width: 100;
    margin: 50px;
    
}

.blog-post-content h2{
    text-align: center;
}

.row{
    display: flex;
    flex-direction: column ;
}

.blogpost-meta{
 
    display: flex;
    justify-content: space-between;
}

.author-info{
    margin: 12px 0;
    font-weight: bold;
}

.author-info div{
    padding: 4px 0px;
    font-family: var(--font2);
}